*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    background-color: #ffffff;
    color:#555;
    font-family: Lato,sans-serif;
    font-weight: 300;
    text-rendering: optimizeLegibility;
}

.row{
    max-width: 1140px;
    margin: 0 auto;
}

header {
    background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.3)),url('img/hero-image.jpg');
    height: 100vh;
    background-size: cover;
    background-position: center;
}

/* h1{
    margin: 0;
    padding: 0;
} */

.hero-text-box{
    position: absolute;
    width: 1140px;
    top: 50%;
    left:50%;
    transform: translate(-66%,-80%);
}

@media(max-width:1098px){
    .hero-text-box{
        width: 733px;
        transform: translate(-55%,-100%);
    }
}

.hero-text-box h1{
    margin: 0 0 20px;
    padding: 0;
    color: #fff;
    font-size:3.5rem;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 1px;
    word-spacing: 3px;
}

@media(max-width:1098px){
    .hero-text-box h1{
        font-size: 3rem;
    }
}

.btn,
.btn:link,
.btn:visited{
    display: inline-block;
    padding: 10px 10px;
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
    width: 12.5rem;
    text-align: center;
}

.btn-full,
.btn-full:link,
.btn-full:visited{
    background-color: #e67e22;
    color: #fff;
    border-radius: 30px;
    margin-right: 20px;
    transition: all 0.2s ease-in-out;
}

.btn-full:hover,
.btn-full:active{
    background-color: #fff;
    color: #e67e22;
}

.btn-ghost,
.btn-ghost:link,
.btn-ghost:visited{
    border: 2px solid #e67e22;
    color: #e67e22;
    border-radius: 30px;
    transition: all 0.2s ease-in-out;
}

.btn-ghost:active,
.btn-ghost:hover{
    border:2px solid #fff;
    color: #fff;
}

.logo{
    height:70px;
    float: left;
    margin-top: 20px;
}

.main-nav{
    float: right;
    list-style: none;
    margin-top: 50px;
}

.main-nav li{
    display: inline-block;
    margin-left: 40px;
}

.main-nav li a,
.main-nav li a:link,
.main-nav li a:visited{
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 110%;
    font-weight: 400;
    padding-bottom: 5px;
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.2s ease;
}

.main-nav li a:hover,
.main-nav li a:active{
    border-bottom: 1px solid #e67e22;
}